@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading_style{
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin-bottom: 30px;
  padding: 15px 5px;
}
.center_div{
  display: grid;
  place-items: center;
}
.heading{
  /* display: inline-block; */
  margin-top: 0px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .heading_style{
    font-size: 0.8rem;
  }
}