body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header_div{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 3rem;
  height: 5rem;
  width: 100%;
  background-color: #f6e58d;
}
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  height: 4rem;
  color: white;
  background-color: #000000;
}
.center_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.note_div{
  width: 500px;
  height: 200px;
  background-color: wheat;
  align-items: center;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
}
.task{
  width: 70%;
  height: 3rem;
  font: 2rem;
  font-weight: bold;
}
